* text=auto

*.md    text eol=lf
*.sh    text eol=lf trailing-space space-before-tab -indent-with-non-tab
*.bash  text eol=lf trailing-space space-before-tab -indent-with-non-tab
*.bats  text eol=lf trailing-space space-before-tab -indent-with-non-tab
*.man   diff=astextplain

libexec/bash-utils* text eol=lf trailing-space space-before-tab -indent-with-non-tab
etc/bash_completion.d/* text eol=lf trailing-space space-before-tab -indent-with-non-tab

.git*   text export-ignore
dev/    export-ignore
